@import url('https://fonts.googleapis.com/css?family=Charmonman:700');
$color:#000000;
body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 175%;
}
section{
    text-align: center;
    background-image: url("../images/bg.jpg");
    margin: 0%;
    padding:50px;
    background-size:cover;
    background-position: center center;
    color:#ffffff;
    h1{
        font-family: 'Charmonman',cursive;
        font-weight: 700;
        font-size: 50px;
        color:#d0e8c7;
    }
}
main {
    color:#4a4a4a;
    position: relative;
    max-width: 1200px;
    margin: 0% auto;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    &.reverse{
        flex-direction: column-reverse;
    }
    @media only screen and (min-width: 768px) {
        flex-direction:row;
        &.reverse{
            flex-direction: row-reverse;
        }
    }
}
.div-1, .div-2, .div-3{
   // border:1px solid aqua;
    margin:10px;
}


