@import url('https://fonts.googleapis.com/css?family=Charmonman:700');
body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif; //new
    line-height: 175%;//new
}
section{
    text-align:center;
    background-image:url("../images/bg-leaves.jpg");
    margin:0;
    padding:50px;
    background-size:cover;
    background-position: center center;
    h1{
        font-family: 'Charmonman', cursive;
        font-weight:700;
        font-size:50px;
        color:#208a47;
    }
}
main{
    color:#4a4a4a; //new
    //border: 1px solid red;
    position: relative;
    max-width:1200px; //new
    margin:0 auto;
    display: flex;//new
    margin-top:50px; //new
}
.div-1, .div-2, .div-3{
    //border:1px solid aqua;
    margin:10px;
}